<table class="table table-message" item_count="{{itemCount}}">
    <tbody>
    <tr class="heading ">
        <td class="cell-icon hidden-phone hidden-tablet" style="width:5%">
        </td>
        <td class="cell-title" style="width:30%">
            Member name
        </td>
        <td class="cell-time hidden-phone hidden-tablet" style="width:10%">
            Relationship
        </td>
        <td class="cell-time hidden-phone hidden-tablet" style="width:15%">
            Age
        </td>
        <td class="cell-status" style="width:15%">
            Date added
        </td>
        <td class="cell-status" style="width:25%">
            Action
        </td>
    </tr>


    {% for per in data %}

    <tr class="unread starred">
        <td class="cell-icon hidden-phone hidden-tablet" style="width:2%">
            <i class="icon-star"></i>
        </td>
        <td class="cell-title" style="width:30%">
            <a href="#modal{{forloop.counter}}" data-toggle="modal">
                {{per.first_name|lower|title}} {{per.last_name|lower|title}}
            </a>
        </td>
        <td class="cell-time hidden-phone hidden-tablet" style="width:15%">
            {{per.relationship.name|lower|title}}, {{per.get_gender_display}}
        </td>
        <td class="cell-time hidden-phone hidden-tablet" style="width:15%">
            {{per.get_age}} yrs old
        </td>
        <td class="cell-status text-error" style="width:15%">
            {{per.date_added}}
        </td>
        <td class="cell-title" style="width:20%;text-align:center">
            <a href="#modal{{forloop.counter}}" data-toggle="modal" class="btn btn-block btn-info">
                <b>View</b>
            </a>

            <div class="modal hide modal-lg cus fullscreen-container"
                 data-backdrop="static" data-keyboard="false"
                 id="modal{{forloop.counter}}" style="top:10px;">
                <div class="modal-backdrop"></div>
                <div class="overlay-spinner">
                    <div class="icon">
                        <i class="fa-spin fa fa-spinner"></i>
                    </div>
                </div>
                <div class="modal-dialog fullscreen-content">

                    <div class="modal-header bg-sky-blue state_alert when_pending">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Confirmation</h3>
                    </div>

                    <div class="modal-content" style="height: 354px;overflow-y: auto;">

                        <div class="span7 no-margin separator">

                            <div class="modal-header bg-light no-padding">

                                <div class="media stream cus">
                                    {% if per.profile %}

                                    <a href="/media/{{per.profile}}" target="_blank"
                                       class="media-avatar medium pull-left">
                                        <img src="/media/{{per.profile}}">
                                    </a>

                                    {% else %}

                                    <a href="#" class="media-avatar medium pull-left">
                                        <img src="/static/eadmin/images/email.svg">
                                    </a>

                                    {% endif %}

                                    <div class="media-body">
                                        <div class="stream-headline">
                                            <div class="pull-left">
                                                <h4 class="stream-author">
                                                    <a href="/home">{{per.first_name}} {{per.last_name}}</a>
                                                </h4>
                                                <div class="stream-text">
                                                    {{per.get_age}} years old of age
                                                </div>
                                                <div class="stream-text">
                                                    {{per.relationship.name|title}}, {{per.get_gender_display}}
                                                </div>
                                                <div class="stream-text">
                                                    Birth date, {{per.date_added}}
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <a target="_blank" href="/media/{{per.verification_file}}"
                                                   class="btn btn-primary view_attachment">
                                                    <i class="icon-paper-clip"></i> &nbsp;Vew attachment file
                                                </a>
                                            </div>
                                        </div><!--/.stream-headline-->
                                    </div>
                                </div>

                            </div>

                            <div class="modal-header bg-sky-blue">
                                <h5 class="modal-title no-margin">Household Profile</h5>
                            </div>

                            <div class="modal-header bg-light no-padding">

                                <div class="media stream cus">
                                    <a href="/household/home" class="media-avatar medium pull-left">
                                        <img src="/static/eadmin/images/woman.svg">
                                    </a>
                                    <div class="media-body">
                                        <div class="stream-headline">
                                            <h4 class="stream-author">
                                                <a href="/home">
                                                    {{per.household_profile.user.get_full_name}}
                                                </a>
                                            </h4>
                                            <div class="stream-text">
                                                <b>{{per.household_profile.get_gender_display}},
                                                    {{per.household_profile.get_age}} yrs
                                                    old</b>
                                            </div>
                                            <div class="stream-text">
                                                {% if per.household_profile.barangay %}

                                                <b>{{per.household_profile.purok.barangay.name}}
                                                    {{per.household_profile.purok.name}},
                                                    {{per.household_profile.street|title}}</b>

                                                {% else %}

                                                <b>{{per.household_profile.purok.name}},
                                                    {{per.household_profile.street|title}}</b>

                                                {% endif %}
                                            </div>
                                            <div class="stream-text">
                                                <b>+63 {{per.household_profile.phone_number}}</b>
                                            </div>
                                            <div class="stream-text">
                                                <b>Account created on, {{per.household_profile.date_created}}</b>
                                            </div>
                                            <div class="stream-text">
                                                <b>{{per.household_profile.no_household}}</b> household members
                                            </div>
                                        </div><!--/.stream-headline-->
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="span5 no-margin">

                            <div class="modal-header bg-sky-blue">
                                <h5 class="modal-title no-margin">
                                    Search Like other accounts household
                                </h5>
                                "{{per.first_name}} {{per.last_name}}"
                            </div>

                            {% for of_per in per.members_like_account %}

                            <div class="modal-header bg-light no-padding">

                                <div class="media stream cus">
                                    {% if of_per.profile %}

                                    <a href="/media/{{per.profile}}" target="_blank"
                                       class="media-avatar medium pull-left">
                                        <img src="/media/{{of_per.profile}}">
                                    </a>

                                    {% else %}

                                    <a href="#" class="media-avatar medium pull-left">
                                        <img src="/static/eadmin/images/email.svg">
                                    </a>

                                    {% endif %}

                                    <div class="media-body">
                                        <div class="stream-headline">
                                            <div class="pull-left">
                                                <h4 class="stream-author">
                                                    <a href="/home">{{of_per.first_name}} {{of_per.last_name}}</a>
                                                </h4>
                                                <div class="stream-text">
                                                    {{of_per.get_age}} years old of age
                                                </div>
                                                <div class="stream-text">
                                                    {{of_per.relationship.name|title}}, {{of_per.get_gender_display}}
                                                </div>
                                                <div class="stream-text">
                                                    <b>Birth date</b>,
                                                    {{of_per.date_added}}
                                                </div>
                                                <div class="stream-text">
                                                    <b>Account p. number</b>,+63 <b>
                                                    {{of_per.household_profile.phone_number}}</b>
                                                </div>
                                            </div>
                                        </div><!--/.stream-headline-->
                                    </div>
                                </div>

                            </div>


                            {% empty %}

                            <div class="inner_content no_display">
                                <div><h4>No household request found</h4>
                                    <p><span>We cant find any information or source</span></p></div>
                            </div>

                            {% endfor %}

                        </div>

                    </div><!-- /.modal-content -->

                    <form class="form-horizontal row-fluid state_changed">

                        <input type="hidden" name="family_members_id" value="{{per.id}}">

                        <div class="modal-body">

                            <div class="span12">
                                <label>
                                    <b>Reason (Optional)</b>
                                </label>
                                <select class="form-control span12">
                                    <option value="" selected></option>
                                    {% for per in reason %}
                                    <option value="{{per.id}}"> {{per.name}}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-inline">
                                        <a href="/admin/account/reason/" class="f-xs-1" target="_blank">
                                            None of the choices, add new ?
                                        </a>
                                    </span>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="state" value="decline" class="btn btn-info">
                                <i class="icon-exclamation-sign"></i> &nbsp; Decline and Remove
                            </button>
                            <button type="submit" name="state" value="approved" class="btn btn-success">
                                <i class="icon-check"></i> &nbsp; Accept request
                            </button>
                        </div>
                    </form>

                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </td>

    </tr>


    {% endfor %}
    </tbody>
</table>

