{% extends "auth/base_template_for_auth.html" %}

{% load static %}

{% block styles %}

<link type="text/css" href="{% static 'node_modules/smartwizard/dist/css/smart_wizard_all.css' %}" rel="stylesheet">


{% endblock %}

{% block styles_after %}

<style>
    .add-on, input { height : inherit !important }
    #smartwizard .tab-content {
        height : auto !important;
        width : 100%;
    }
    .tab-pane { width :100% !important }
    .btn-box.btn-success.biege  { background : #5bc0de2e !important }
    .btn-box img { width:100% }
    .btn-box b {
        font-size: 16px;
        font-weight:bold;
    }






</style>

{% endblock %}


{% block full_content %}

<div class="span10 center main_container">
    <div class="content">

        <div class="module fullscreen-container" id="household">
            <div class="module-head bg-green">
                <h3>Digos Covid Tracing System</h3>
                <div class="right-action hide_mobile">
                    <button type="submit" class="btn btn-large btn-zoom-in">
                        <b>Zoom In</b>
                    </button>
                    <button type="submit" class="btn btn-large btn-zoom-reset">
                        <b>Reset Zoom</b>
                    </button>
                    <button type="submit" class="btn btn-large btn-fullscreen">
                        <b>Full screen</b>
                    </button>
                </div>
            </div>
            <div class="module-body fullscreen-content">

                {% for message in messages %}

                <div class="alert {{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {% if message.extra_tags %}
                    <strong><i class="icon-exclamation-sign icon"></i> {{ message.extra_tags|title }},
                    </strong>
                    {% endif %}
                    {{ message }}
                </div>

                {% endfor %}

                <div class="btn-controls">

                    <div class="media stream">
                        <a href="#" class="media-avatar medium pull-left">
                            <img src="{% static 'eadmin/images/family_protect.svg' %}">
                        </a>
                        <div class="media-body">
                            <div class="stream-headline">
                                <h5 class="stream-author">
                                    Maayong pag-abot <b><a href="#">{{user.get_full_name}}</a></b>
                                </h5>
                                <div class="stream-text">
                                    Ania ka dinhi sa opisyal nga site sa sistema sa pagsubay sa covid nga gihimo sa
                                    lungsod sa digos city ug giaprobahan sa mga departamento nga nagdumala sa pag-ila
                                    mga tawo nga tingali adunay covid. nagaagi kini sa usa ka ligal nga proseso busa ang
                                    kasayuran nga among makuha gipanalipdan ug wala magamit alang sa mga katuyoan sa
                                    gawas.
                                </div>
                            </div><!--/.stream-headline-->
                        </div>
                    </div>

                    <div class="btn-box-row row-fluid">
                        <a href="/household/family" class="btn-box  big btn-success biege span3">
                            <img src="{% static 'eadmin/images/covid_family.png' %}">
                            <b>Protect your family</b>
                        </a>
                        <a href="#" class="btn-box big btn-success biege span3">
                            <img src="{% static 'eadmin/images/id.png' %}">
                            <b>Export and Download</b>
                        </a>
                        <!--                        <a href="#" class="btn-box big btn-success biege span3">-->
                        <!--                            <img src="{% static 'eadmin/images/id.png' %}">-->
                        <!--                            <b>Export and Download</b>-->
                        <!--                        </a>-->
                        <!--                        <a href="#" class="btn-box big btn-success biege span3">-->
                        <!--                            <img src="{% static 'eadmin/images/id.png' %}">-->
                        <!--                            <b>Export and Download</b>-->
                        <!--                        </a>-->
                    </div>
                </div>

            </div>
        </div>


    </div><!--/.content-->
</div><!--/.span9-->


{% endblock %}


{% block plugins %}

<script src="{% static 'plugins/jquery-input-mask/dist/jquery.mask.js' %}" type="text/javascript"></script>

<script src="{% static 'node_modules/smartwizard/dist/js/jquery.smartWizard.js' %}"></script>

{% endblock %}
